*{

    margin: 0%;
    text-decoration-color: aliceblue;

}

header{

    display: grid;
    grid-template-areas: 'header';
    place-items: center;

}

.img img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);

}

.img{

    grid-area: header;

}

#rubrik{

    position: relative;
    z-index: 3;
    grid-area: header;
    color: white;
    font-size: 3rem;
    place-self: center;
    padding: 2%;

}

body{

    background-color: black;

}

div.main{

    display: grid;
    gap: 10px;
    border: 1px solid white;
    color: white;
    padding: 4%;

}

footer{

    display: grid;

}

img{

    width: 100%;

}

.imgRoll{

    aspect-ratio: 1/1;

}

.imgRoll img{

    height: 100%;
    object-fit: cover;

}
