*{

    margin: 0%;

}

header{

    display: grid;
    grid-template-areas: 'header';
    place-items: center;

}

.img img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);

}

.img{

    grid-area: header;
    z-index: 1;

}

.rubrik{

    position: relative;
    z-index: 2;
    grid-area: header;
    color: white;
    font-size: 3rem;
    place-self: center;
    padding: 2%;

}

.knapp{

    position: absolute;
    z-index: 3;
    top: 20px;
    left: 20px;

}

.knapp button{

    font-size: 1rem;
    background-color: transparent;
    color: white;

}

body{

    background-color: black;

}

div.main{

    display: grid;
    gap: 10px;
    border: 1px solid white;
    color: white;
    padding: 4%;

}

footer{

    display: grid;

}

img{

    width: 100%;
    transform: scale(1);

}

.imgRoll{

    aspect-ratio: 1/1;
    overflow: hidden;
    padding: 9%;
    padding-top: 7.5%;

}

.imgRoll img{

    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    padding: 1%;
    display: block;

    transition: transform 1s;

}



.roll{

    display: grid;
    grid-template-columns: repeat(2, 60vw);
    overflow-x: scroll;
    gap: 15px;


}

.large{

    transform: scale(1.2);

}

@media(min-width:550px){

    .roll{

        display: grid;
        grid-template-columns: repeat(2,40vw);
        overflow: auto;

    }

}

@media(min-width:1100px){

    .roll{

        grid-template-columns: repeat(2, 30vw);

    }
    
    .imgRoll img:hover{

    transform: scale(1.2);

}

}

@media(min-width:1600px){

    .roll{

        grid-template-columns: repeat(2, 20vw);

    }

}

.text{

    display: grid;
    gap: 6px;

    color: white;
    place-items: center;

}