*{

    margin: 0%;

}

header{

    display: grid;
    grid-template-areas: 'header';
    place-items: center;

}

.img img{

    width: 100%;
    height: 100%;
    object-fit: cover;
/*     filter: brightness(80%); */

}

.img{

    grid-area: header;


}

#rubrik{

    grid-area: header;
    color: white;
    font-size: 3rem;
    place-self: end center;
    padding: 2%;

}

body{

    background-color: black;

}