html{

    scroll-behavior: smooth;

}

main{

    display: grid;
    padding: 5%;

}

nav{

    display: grid;
    gap: 1rem;

}

nav a{

    text-decoration: none;
    font-size: 1.4rem;
    color: rgb(0, 0, 0);

}

.card{

    border: 1px solid black;
    padding: 3%;
    border-radius: 3%;

}

.imgBox{

    aspect-ratio: 1/1;
    overflow: hidden;

}

.imgBox img{

    height: 100%;
    object-fit: cover;
 

}

@media(min-width:600px){

    nav{

        grid-template-columns: repeat(3, 1fr);

    }

    nav a{

        text-align: center;

    }

    .menuButton{

        display: none;

    }

    #nav{

        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

}

footer{

    padding: 3%;
    display: grid;
    gap: 1rem;

}

footer a{

    border: solid black 1px;
    padding: 1%;
    text-decoration: none;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    width: max-content;

}

#scroll{


    display: grid;
    grid-template-columns: repeat(6, 60vw);
    overflow-x: scroll;
    gap: 20px;
    scroll-snap-type:x mandatory;

}

.card{

    scroll-snap-align: center;
    display: grid;
    grid-template-rows: 0.26fr 1fr 0.6fr auto;

    gap:1rem;
    padding:7%;

}

.mina{

    padding: 2%;

}

.ett{

    border: 1px solid black;
    display: grid;
    gap: 1rem;
    padding: 4%;

}

/* .textBox{
        border:1px solid red;
    padding:3%;
}
.btnbox{
    border:1px solid pink;
    padding:3%;
} */

@media(min-width:700px){

    .card{

        grid-template-rows: 20fr 100fr 30fr auto;

    }

}

@media(min-width:1000px){

    #scroll{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        overflow-x: hidden;

    }

    .card{

        grid-template-rows: 20fr 100fr 30fr auto;

    }

}

@media(min-width:1400px){

    #scroll{

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        overflow-x: hidden;

    }

    .card{

        grid-template-rows: 24fr 100fr 40fr auto;

    }

}

.rubrik{

    padding: 5%;
    place-items: center;

}

@media(min-width:1558px){

    .card{

        grid-template-rows: auto 10fr 3fr auto;

    }

}


.hidden{

    display: none;

}

header{

    display: grid;
    gap: 10px;

}

.menuButton{

    font-size: 2.3rem;
    width: 3rem;
    align-content: center;
    background-color: white;
    border: none;

}

